PROJECT_NAME="Moviesr"
PROJECT_DESCRIPTION="Movies admin"

DEBUG=True
SECRET_KEY=secret_key

SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres

ALLOWED_HOSTS=localhost,127.0.0.1,service,nginx
