POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=movies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example_password

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

REDIS_HOST=redis 
REDIS_PORT=6379

CHUNK_SIZE=100
SLEEP_TIMEOUT=10.0
STATE_FILE=state.json