POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=movies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example_password

ELASTIC_HOST=localhost
ELASTIC_PORT=9200

CHUNK_SIZE=100
SLEEP_TIMEOUT=10.0
STATE_FILE=state.json